.slider__list__wrapper {
  .slider__title {
    text-align: start;
    padding-left: 15px;
    margin-bottom: 5px;
  }
  .slider__list__container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }
  .slider__list__container::-webkit-scrollbar {
    display: none;
  }
}
