@import url("../../style/animations.scss");
.layout__app {
  padding: 70px 20px 0px 20px;
  height: 80%;
  font-family: Montserrat, sans-serif;
  animation-name: appearAnimation;
  animation-duration: 1.5s;
}
