@import url("../../../style/animations.scss");

.back__ui {
  width: 100%;
  position: fixed;
  height: 40px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 10px;
  text-align: start;
  background-color: white;
  z-index: 12;

  animation-name: appearAnimation;
  animation-duration: 1.9s;

  .title__ui {
    display: inline-block;
    font-size: 19px;
    margin-top: 10px;
  }
  img {
    display: inline-block;

    padding: 8px 0px;
    padding-right: 15px;
    width: 40px;
  }
}
